<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Resposta</title>
  <link rel="stylesheet" href="estilo.css">
</head>
<body>

  <header>
    <h1>🍃 Resposta do Servidor</h1>
    <nav><a href="home.html">← Voltar</a></nav>
  </header>

  <main style="display:block; padding:30px;">
    <section>
      <h2><%= mensagem %></h2>
      <a href="home.html" class="btn-link">← Voltar ao início</a>
      <a href="/listar" class="btn-link">Ver usuários cadastrados</a>
    </section>
  </main>

</body>
</html>
