<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Resposta Login</title>
  <link rel="stylesheet" href="estilo.css">
</head>
<body>

  <header>
    <h1>🔒 Resposta do Servidor (POST)</h1>
    <nav><a href="home.html">← Voltar</a></nav>
  </header>

  <main>
    <section>
      <h2><%= mensagem %></h2>
      <p><strong>Nome:</strong>  <%= nome %></p>
      <p><strong>Login:</strong> <%= login %></p>
      <p style="color: gray;">(Senha não exibida por segurança)</p>
    </section>
  </main>

</body>
</html>
